<div class="bg-light">
  <div class="container">
    <div class="col-12">
      <h2 class="pt-4 pt-lg-5 pb-4"><%= @blog.title %></h2>
      <div class="d-flex justify-content-between">
        <div class="d-flex gap-2">
          <%= render "blogs/avatar", height: 50, width: 50, initial: @blog.user.first_name[0] %>
          <div class="d-flex flex-column justify-content-end">
            <p class="mb-0"><%= @blog.user.full_name %></p>
            <small class="text-muted"><%= @blog.created_at.strftime("%b %d, %Y") %></small>
          </div>
        </div>

        <div class="d-flex gap-2 align-items-end">
          <div class="dropdown">
            <button class="btn dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
              <% if @blog.user == current_user %>
                <li>
                  <%= link_to edit_blog_path(@blog), class: "dropdown-item" do %>
                    <i class="bi bi-pencil-square me-1"></i> Edit
                  <% end %>
                </li>
                <li>
                  <%= link_to blog_path(@blog), class: "dropdown-item", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove '#{@blog.title}'?" } do %>
                    <i class="bi bi-trash3-fill me-1"></i> Delete
                  <% end %>
                </li>
              <% end %>
              <li><a class="dropdown-item" href="#"><i class="bi bi-share-fill me-1"></i> Share</a></li>
            </ul>
          </div>
        </div>
      </div>
  
      <hr class="my-4">
  
      <div class="px-1" style="overflow: auto;" data-controller="content-parser">
        <%= parse_trix_content(@blog.content) %>
      </div>
  
      <hr class="my-4">
  
      <div class="pb-4" data-controller="feedback">
        <%= form_with model: Feedback.new, url: blog_feedback_index_path(blog_id: @blog.id), data: { controller: "feedback" } do |form| %>
          <div class="col-12 mb-4">
            <div class="d-flex gap-2 align-items-center mb-4">
              <%= render "blogs/avatar", height: 30, width: 30, initial: current_user.present? ? current_user.first_name[0].presence : " " %>
              <label for="body" class="form-label fw-semibold mb-0">Share your thoughts</label>
            </div>
            <%= form.text_area :body, class: "form-control", style: "height: 150px;" %>
          </div>
          <div class="col-12 col-lg-3 col-xl-2 ms-auto">
            <% if user_signed_in? %>
              <%= form.submit "Send Feedback", class: "btn btn-dark rounded-pill px-5 disabled w-100" %>
            <% else %>
              <%= link_to "Send Feedback", "javascript:void(0)", class: "btn btn-dark rounded-pill px-5 w-100", data: { bs_target: "#signInModal", bs_toggle: "modal" } %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>