<div class="pt-lg-2">
  <div class="featured container-fluid bg-light py-4 py-lg-5">
    <div class="container row mx-auto">
      <div class="col-12 col-lg-7 content">
        <div class="h-100 d-flex flex-column justify-content-center">
          <h2>Stories that matter</h2>
          <p class="col-8 fw-semibold text-black-50 opacity-75">Read stories about everyday things which matter to you most. Find expert articles, personal stories, interviews, tips
            and tricks to help get updated on the go.
          </p>

          <div class="col-8 d-flex gap-3 py-3">
            <input type="text" class="form-control rounded-pill" placeholder="Search">
            <button type="button" class="btn btn-dark rounded-pill px-5">Search</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 content-img">
        <%= image_tag "banner.png", class: "img-fluid", alt: "blog image" %>
      </div>
    </div>
  </div>

  <div class="container row mx-auto pt-5">
    <div class="col-12 col-lg-8 border-lg-end latest">
      <h4>Latest Blogs</h4>
      <% 10.times do |num| %>
        <%= link_to "#", class: "text-decoration-none" do %>
          <div class="card border-0 rounded-0 px-3 w-100">
            <div class="card-body px-0">
              <div class="col-12">
                <div class="d-flex align-items-center gap-2 mb-2 mb-lg-0">
                  <%= image_tag "https://placehold.co/400x400", class: "img-fluid rounded-circle", size: "30x20", alt: "blog image" %>
                  <small class="mb-0">Zulie Rane • <span class="text-muted">Dec 17, 2023</span></small>
                </div>
                <div class="d-flex">
                  <div class="col-9 d-flex flex-column justify-content-center">
                    <h6 class="mb-0 mb-lg-2">A Complete Beginner's Guide on How to Earn by Writing Articles</h6>
                    <p class="d-none d-lg-block card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="col-3 flex-grow-1">
                    <%= image_tag "https://placehold.co/600x400", class: "img-fluid h-100", alt: "blog image" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <% unless num == 9 %>
          <hr class="mx-0">
        <% end %>
      <% end %>
    </div>

    <div class="vr d-none d-lg-block p-0 mx-4"></div>

    <div class="col-12 col-lg-3 px-3 trending d-none d-lg-block">
      <h6>Staff Picks</h6>
      <% 5.times do %>
        <%= link_to "#", class: "text-decoration-none" do %>
          <div class="card border-0">
            <div class="card-body px-0">
              <div class="d-flex align-items-center gap-2 mb-2 mb-lg-0">
                <%= image_tag "https://placehold.co/400x400", class: "img-fluid rounded-circle", size: "20x20", alt: "blog image" %>
                <small class="mb-0">Zulie Rane</small>
              </div>
              <small class="fw-bold">A Complete Beginner's Guide on How to Earn by Writing Articles</small>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>