<div class="modal fade" id="signInModal" aria-hidden="true" aria-labelledby="signInModalLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pb-5">
        <h4 class="text-center pb-4">Login</h4>

        <%= form_with model: User.new, url: user_session_path, class:"col-11 col-lg-9 mx-auto", 
            data: { controller: "login", action: "submit->login#signIn"} do |form| %>

          <div id="loginError" class="text-danger text-center pb-3 d-none">Invalid email or password</div>

          <div class="mb-2">
            <%= form.label :email, class: "form-label mb-1" %>
            <%= form.email_field :email, class: "form-control rounded-pill", required: true %>
          </div>

          <div class="mb-4">
            <label for="password" class="form-label mb-1">Password</label>
            <div class="password">
              <%= form.password_field :password, class: "form-control rounded-pill", required: true %>
            </div>

            <small class="d-none d-sm-block text-end pt-1 pe-1">
              <%= link_to "Forgot password?", "#forgot-password", class: "text-dark text-decoration-none mt-2" %>
            </small>
          </div>

          <div class="mb-5 mb-sm-4">
            <%= form.submit "Log In", class: "btn btn-dark rounded-pill w-100" %>
          </div>

          <div class="text-center">
            <span class="text-dark">Don't have an account?</span>
            <%= link_to "Register", "#", class: "fw-bold text-dark", data: { bs_target: "#signUpModal", bs_toggle: "modal" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>