<div class="modal fade" id="signUpModal" aria-hidden="true" aria-labelledby="signUpModalLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pb-5">
        <h4 class="text-center pb-4">Create Account</h4>

        <%= form_with model: User.new, url: user_registration_path, class:"col-11 col-lg-9 mx-auto", 
            data: { controller: "sign-up", action: "submit->sign-up#validateForm" } do |form| %>
          <div class="mb-2">
            <%= form.label :first_name, class: "form-label mb-1 fw-semibold" %>
            <%= form.text_field :first_name, class: "form-control rounded-pill", required: true %>
          </div>

          <div class="mb-2">
            <%= form.label :last_name, class: "form-label mb-1 fw-semibold" %>
            <%= form.text_field :last_name, class: "form-control rounded-pill", required: true %>
          </div>

          <div class="mb-2">
            <%= form.label :email, class: "form-label mb-1 fw-semibold" %>
            <%= form.email_field :email, class: "form-control rounded-pill", required: true %>
            <small id="emailError" class="text-danger d-none">Invalid email</small>
          </div>

          <div class="mb-2">
            <label for="password" class="form-label mb-1 fw-semibold">Password</label>
            <%= form.password_field :password, class: "form-control rounded-pill", required: true %>
            <small id="passwordError" class="text-danger d-none">Password must contain at least 8 characters</small>
          </div>

          <div class="mb-4">
            <label for="password_confirmation" class="form-label mb-1 fw-semibold">Confirm Password</label>
            <%= form.password_field :password_confirmation, class: "form-control rounded-pill", required: true %>
            <small id="passwordConfirmationError" class="text-danger d-none">Passwords do not match</small>
          </div>

          <div class="mb-4">      
              <div class="form-check mb-2">
                <%= form.label :agreed_to_terms_and_conditions, class: "form-check-label text-dark" do %>
                  I agree to the Terms and Conditions
                <% end %>
                <%= form.check_box :agreed_to_terms_and_conditions, class: "form-check-input", required: true %>
              </div>

              <div class="form-check">
                <%= form.label :agreed_to_privacy_and_policy, class: "form-check-label text-dark" do %>
                  I agree to the Privacy Policy
                <% end %>
                <%= form.check_box :agreed_to_privacy_and_policy, class: "form-check-input", required: true %>
              </div>
            </div>

          <div class="mb-4">
            <%= form.submit "Register", class: "btn btn-dark rounded-pill w-100" %>
          </div>

          <div class="text-center">
            <span class="text-dark">Already have an account?</span>
            <%= link_to "Login", "#", class: "fw-bold text-dark", data: { bs_target: "#signInModal", bs_toggle: "modal" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>